body {
    padding: 10px;
}

.listing {
    border: 1px solid lightgray;
    height: 240px;
    min-width: 80%;
    margin: 0px 20px 20px 0px;
    padding-top: 20px;
}

ul {
    list-style-type: none;
    padding: 5px;
}

img {
    float: left;
    width: 20vw;  
    max-height: 180px;
    min-width: 250px;
    /* padding-top: 15px; */
    margin: 5px 70px 15px 15px;
    cursor: pointer;
    object-fit: contain;
}
/* img {
    float: left;
    width: 15vw; 
    max-height: 165px;
    min-width: 160px;
    padding-top: 15px;
    margin: 15px 70px 15px 15px;
    cursor: pointer;
    object-fit: contain;
} */


.listing-item-gray {
    color: gray;
}

.listing-item {
    margin: 10px 0;
    font-weight: bold;
    cursor: pointer;
}

.listing > li > a { 
    color: inherit;
    text-decoration: none;
} 

.watchlist {
    color: white;
    background-color: #756f6e;
    font-style: italic;
}

.author {
    color:dodgerblue
}

.item-per-category {
    color: black;
}

.create-listing {
    width: 80%;
}

select, input[type='text'], input[type='file'], input[type='number'] {
    width: 90%;
}

.description {
    height: 10vh;
    width: 95%;
}

.listing-page {
    display: flex;
}

.img-in-listing {
    width: 10%;
    flex-grow: 1;
}

.auction-winner {
    flex-grow: 2;
    color: #345ceb;
}

.winner {
    color: #4634eb;
}

.btn-container {
    width: 100%;
    text-align: center;
}

.btn-items {
    /* display: inline-block; */
    width:220px;
    height:50px;
    text-align:center;
    line-height:1.1em;
    font-size:1.1em;
}

.custom {
    width: 300px !important
}

.price {
    font-size: 1.5rem;
}