{% extends "auctions/layout.html" %}

{% block body %}

    <h3>Create a New Listing</h3>

    <form action="{% url 'create_listing' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="create-listing">
            {{ form }}
        </table>
        <input class="btn btn-primary" type="submit">    
    </form>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}