{% extends "auctions/layout.html" %}
{% load custom_tags %}

{% block body %}
    <h3>Active Listings</h3>
    <ul>
        {% for listing in listings %}
            <div class="listing">
                {% if listing.watchlist == "YES" %}
                    <li class="listing-item-gray">
                        <a href="{% url 'listing_page' listing_id=listing.id %}">
                        <span class="watchlist">Watchlist</span>
                        {% for v in num_watchers %}
                            {% if v.item == listing.pk %}
                                <span class="watchers">{{v.item__count}} watchers</span>
                            {% endif %}
                        {% endfor %}
                    </a></li>
                {% endif %}

                {% if listing.photo %}
                    <li><a href="{% url 'listing_page' listing_id=listing.id %}">
                        <img src="{{listing.photo.url}}"></a></li>
                {% else %}
                    <li><a href="{% url 'listing_page' listing_id=listing.id %}">
                        <img src="data:," alt="No Image yet!"></a></li>
                {% endif %}

                <li class="listing-item">
                    <a href="{% url 'listing_page' listing_id=listing.id %}">
                    {{listing.title}}</a></li>

                <li class="listing-item">
                    <a href="{% url 'listing_page' listing_id=listing.id %}">
                    {{listing.catetory}}</a></li>

                {% if listing.description is not None %}
                    <li class="listing-item">
                        <a href="{% url 'listing_page' listing_id=listing.id %}">
                        {{listing.description}}</a></li>
                {% endif %}

                <li class="listing-item">
                    <a href="{% url 'listing_page' listing_id=listing.id %}">
                         Current bid: <span class='price'>${{ bid_price | max_bid:listing.id }}</span>
                    </a> </li>
                <li class="listing-item-gray">
                    <a href="{% url 'listing_page' listing_id=listing.id %}">
                    Created {{listing.listing_datetime}}</a></li>

                <li class="listing-item-gray"><a href="{% url 'listing_page' listing_id=listing.id %}">
                    By {{listing.listed_by}}</a></li>
                <br>
            </div>
        {% empty %}
            <li>No active listings!</li>
        {% endfor %}
    </ul>

{% endblock %}